nav
{
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0;
  margin-bottom: 5rem;
  padding: 0;
  background-color: #4e1f44;
}

nav ul
{
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}


nav li 
{
  float: right;
  height: 5.3rem;
  border-left: solid rgb(226, 132, 238) 2px;
}
  
nav li a
{
  display:inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover 
{
  background-color: #c116f5;
}

.izquierda
{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}