.card
{
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-header
{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    padding: 1rem 2rem;
    margin-bottom: 0;
}

.card-body
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    flex: 1 1 auto;
}