#about
{
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

img
{
    border-radius: 20%;
}
.binker
{
    height: 20rem;
    width: 20rem;
}